/* 
introdução

o que significa CSS? 
- cascaging style sheet
- código para criar estilos no HTML
- HTML é a estrutura, e o CSS é a estilização
- não é uma linguaguem de programação
- é uma linguagem style sheet
*/

*{
    margin: 0;
    color: green;
}

body{
    height: 100vh;
}

#container{
    width: 200px;
}

.m-40{
    margin: 40px;
}

h1,h2{
    color: red !important;
    /* font-size: 60px; */
    background: gray;
    border: 1px solid red;
    margin: 200px;
    padding: 60px;
}

/* quase todas as caixas do CSS possuem posicionamentos, tamanhos, espaçamentos, bordas
cores. Caixa pode ficar ao lado uma da outra, ou acima. Elementos HTML são caixas */

h1{
    color: blue;
}

.title{
    color: yellow;
}

#title-page{
    color: rgb(95, 33, 175);
}

.title#title-page{
    color: blue;
}

/* shorthand */

*{
    background-color: rgb(43, 98, 161);
    background-image: url(images/bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
    /* == */
    background: rgb(43, 98, 161) url(images/bg.gif) no-repeat left top;

    font-style: italic;
    font-weight: bold;
    font-size: .8em;
    line-height: 1.2;
    font-family: Arial, sans-serif;
    /* == */ 
    font: bold italic .8em/1.2 Arial, sans-serif

    /*adaptar em browsers

    https://caniuse.com

    */


    /*
    tipos numericos: 
        <integer> - número inteiro como -10 ou 223
        <number> - número decimal como -2.4, 64 ou 0.234
        <dimension> - é um <number> com uma unidade junto: 90deg, 2s, 8px
        <percentage> - representa uma fração de outro número: 50%

    uniddes comuns:
        <length> - é um dos mais usados no CSS e representa um valor de distância: px, em, vw
        <angle> - representa um ângulo: deg, rad, turn
        <time> - representa um tempo: s, ms
        <resolution> - representa resoluções para dispositivos: dpi
    */
}

/*
    disâncias absolutas <lenghy>
    | Unidade  | Nome                | Equivalência         |
    |----------|---------------------|----------------------|
    | cm       | Centímetros         | 1cm = 96px/2.54      | 
    | in       | Inches (polegadas)  | 1in = 2.54cm = 96px  | 
    | px       | Pixels              | 1px = 1/96th of 1in  |

    distâncias relativas
    | Unidade  | Relativo a                                    |
    |----------|-----------------------------------------------|
    | em       | Tamanho da font do elemento pai               |
    | rem      | Tamanho da font do elemento raiz (root/html)  | 
    | vw       | 1% da viewport wid                            |  
    | vh       | 1% da viewport height                         |
*/

/*
porcentagem
*/

li {
    font-size: 200%;
}

/*
<position>
*/

.box{
    height: 300px;
    width: 400px;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: right 50px;
}

/*
Exemplos de funções do CSS:

rgb()
hsl()
url()
calc()
*/

.box{
    height: calc(100% - 40px);
}

/*
string
*/

.box::after {
	content: "Isso é uma string"
}

/*
o que é o Box Model?

cada elemento é representado como uma caixa retangular
Essa caixa possui propriedades de uma caixa em 2 dimensões (largura x altura)

propriedades da caixa

tamanho (largura x altura) → width | height
conteúdo → content
bordas → border
preenchimento interno → padding
rspaços fora da caixa → margin
*/

.css-box{
    width: 100px; 
    height: 100px;
    border: 1px solid red;
    margin: 10%;
    padding: 0 20px;
    box-sizing: border-box; /*continuar com 100px*/
    font-size: 16px;
}

/*
block x inline

block: <p><div><section><hradings><h1>... empurrra outras caixas para baixo
inline: <a><strong><span><em> caixa fica uma do lado da outra (largura não respeitado)
*/

.block{
    height: 100px;
    width: 10px;
    border: 1px solid red;
    display: inline;
    margin: 200px; /*somente valores horizontais funcionam*/
}

.inline{
    height: 100px;
    width: 10px;
    border: 1px solid red;
    display:block;
    margin: 100px; 
}

/*
margin: top right bottom left
margin: top laterais bottom
margin: cima e em baico laterais
margin: único valor
*/

.margin, .elemento{
    border: 1px solid red;
    width: 100px;
    height: 100px;
    margin: 10px 20px;
    /* display: inline;
    margin: 0 2px; */
    padding: 60px;
    border: 100px solid darkred; 
    box-sizing: border-box; /*continuar com 100px*/
    border-top: dotted green 50px;
    border-bottom: none;

    outline:rgb(95, 33, 175) 25px solid;
}

.margin{
    margin-bottom: 8px;
}

.elemento{
    margin-top: 8px;
}

/*
padding podera causar diferença na largura de um elemento
*/

/*
border 

shorthand:
	border-top: solid 2px; /* top | right | bottom | left 
style:
	border: solid;
width <length> | style:
	border: 2px dotted;
style | color:
	border: outset #f33;
width | style | color
	border: medium dashed green;
*/

.elemento2{
    font-size: 20px;
    color: blue;
}

.elemento2 p {
    color: black;
}

/*background*/

header{
    height: 200px;
    border: 7px dashed red;
    background-color: aqua;
    background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/9969/production/_128437293_taylor-swift-lavender-haze-official-music-video-2-2-screenshot-e1674803542192-1536x802.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
    background-origin:padding-box;
    padding: 10px;
    /* background-attachment: fixed; */
    /* background: linear-gradient(red,violet); */
    /*para ter mais um backfround precisa botar uma vírgula*/
}

main h1{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-size: 32px;
    color:black !important;
    
}

main p{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-size: 16px;
    color:black !important;
}