/* 
introdução

o que significa CSS? 
- cascaging style sheet
- código para criar estilos no HTML
- HTML é a estrutura, e o CSS é a estilização
- não é uma linguaguem de programação
- é uma linguagem style sheet
*/

*{
    margin: 0;
    color: green;
}

body{
    height: 100vh;
}

#container{
    width: 200px;
}

.m-40{
    margin: 40px;
}

h1,h2{
    color: red !important;
    /* font-size: 60px; */
    background: gray;
    border: 1px solid red;
    margin: 200px;
    padding: 60px;
}

/* quase todas as caixas do CSS possuem posicionamentos, tamanhos, espaçamentos, bordas
cores. Caixa pode ficar ao lado uma da outra, ou acima. Elementos HTML são caixas */

h1{
    color: blue;
}

.title{
    color: yellow;
}

#title-page{
    color: rgb(95, 33, 175);
}

.title#title-page{
    color: blue;
}

/* shorthand */

*{
    background-color: rgb(43, 98, 161);
    background-image: url(images/bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
    /* == */
    background: rgb(43, 98, 161) url(images/bg.gif) no-repeat left top;

    font-style: italic;
    font-weight: bold;
    font-size: .8em;
    line-height: 1.2;
    font-family: Arial, sans-serif;
    /* == */ 
    font: bold italic .8em/1.2 Arial, sans-serif

    /*adaptar em browsers

    https://caniuse.com

    */


    /*
    tipos numericos: 
        <integer> - número inteiro como -10 ou 223
        <number> - número decimal como -2.4, 64 ou 0.234
        <dimension> - é um <number> com uma unidade junto: 90deg, 2s, 8px
        <percentage> - representa uma fração de outro número: 50%

    uniddes comuns:
        <length> - é um dos mais usados no CSS e representa um valor de distância: px, em, vw
        <angle> - representa um ângulo: deg, rad, turn
        <time> - representa um tempo: s, ms
        <resolution> - representa resoluções para dispositivos: dpi
    */
}

/*
    disâncias absolutas <lenghy>
    | Unidade  | Nome                | Equivalência         |
    |----------|---------------------|----------------------|
    | cm       | Centímetros         | 1cm = 96px/2.54      | 
    | in       | Inches (polegadas)  | 1in = 2.54cm = 96px  | 
    | px       | Pixels              | 1px = 1/96th of 1in  |

    distâncias relativas
    | Unidade  | Relativo a                                    |
    |----------|-----------------------------------------------|
    | em       | Tamanho da font do elemento pai               |
    | rem      | Tamanho da font do elemento raiz (root/html)  | 
    | vw       | 1% da viewport wid                            |  
    | vh       | 1% da viewport height                         |
*/

/*
porcentagem
*/

li {
    font-size: 200%;
}

/*
<position>
*/

.box{
    height: 300px;
    width: 400px;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: right 50px;
}

/*
Exemplos de funções do CSS:

rgb()
hsl()
url()
calc()
*/

.box{
    height: calc(100% - 40px);
}

/*
string
*/

.box::after {
	content: "Isso é uma string"
}
