.esquerda{
    float: left;
}

.direita{
    float: right;
}

.normal{
    clear: both;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itens:nth-child(1){
    order: 1;
}

.container{
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    /* justify-content: flex-end;
    height: 100vh; */
    border: 1px solid red;
    height: 30vh;
}

.itens2{
    background-color: gray;
    border: 1px solid;
    flex: 1;
}

.container2{
    display:flex;
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;
    height: 20vh;
}

.box{
    border: 1px dashed red;
    display: flex;
    flex-wrap:wrap; /*"novo eixo main"*/
}

.box div {
    border: 1px solid;
    width:80px
}

.box2{
    display:flex;
    flex-flow: row wrap;
    border: 1px dashed red;
}

.box2 .itens4{
    border: 1px solid;
    width: 80px;
}

.box3{
    margin-top: 20px;
    display: flex;
    border: 1px dashed blue;
}

.box3 div{
    border: 1px solid black;
    flex-basis: 100%; /*auto -> widht*/
}
 
.box3 div:nth-child(3){
    flex-grow: 1; 
} 

.box3 div:nth-child(2){
    flex-shrink: 2;
}

/*
.box3 div{
    border: 1px solid;
    flex: 1 1 40px;
*/

.page{
    border: 2px solid;
    min-height: 100vh;
    display: flex;
}

aside{
    background-color: lightgreen;
    flex: 1;
}

main{
    background-color: lightblue;
    flex: 2;
    display: flex;
    flex-direction: column;
}

main section:nth-child(1){
    background-color: lightgoldenrodyellow;
    flex: 0 0 100px;
    order: 1;
}

main section:nth-child(2){
    background-color: lightcoral;
    flex: 0 80px;
}

main section:nth-child(3){
    background-color: lightpink;
    flex: 1;
}